In [1]:
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import pandas as pd
import string

In [2]:
nltk.download('punkt')
nltk.download("stopwords")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\apfle\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\apfle\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
df = pd.read_csv("Resources/Tweets.csv")

In [4]:
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [5]:
df['text'] = df['text'].astype('str')

In [6]:
df = df.drop(columns=["textID", "selected_text"])

In [7]:
def process_tweets(tweet):
    tweet = tweet.lower()
    tweet = "".join(char for char in tweet if char not in string.punctuation)
    tokenize_tweet = word_tokenize(tweet)
    stopword = stopwords.words("english")
    tweet_wo_stop = [word for word in tokenize_tweet if word not in stopword]
    return tweet_wo_stop

In [8]:
df['text'] = df['text'].apply(lambda x: process_tweets(x))

In [9]:
df

                                                    text sentiment
0                                 [id, responded, going]   neutral
1                          [sooo, sad, miss, san, diego]  negative
2                                       [boss, bullying]  negative
3                              [interview, leave, alone]  negative
4        [sons, couldnt, put, releases, already, bought]  negative
...                                                  ...       ...
27476  [wish, could, come, see, u, denver, husband, l...  negative
27477  [ive, wondered, rake, client, made, clear, net...  negative
27478  [yay, good, enjoy, break, probably, need, hect...  positive
27479                                            [worth]  positive
27480          [flirting, going, atg, smiles, yay, hugs]   neutral

[27481 rows x 2 columns]

In [10]:
dict_sentiment = {'positive': 1, 'neutral': 0, 'negative': -1}
df['sentiment'] = df['sentiment'].apply(lambda x: dict_sentiment.get(x))

In [11]:
df

                                                    text  sentiment
0                                 [id, responded, going]          0
1                          [sooo, sad, miss, san, diego]         -1
2                                       [boss, bullying]         -1
3                              [interview, leave, alone]         -1
4        [sons, couldnt, put, releases, already, bought]         -1
...                                                  ...        ...
27476  [wish, could, come, see, u, denver, husband, l...         -1
27477  [ive, wondered, rake, client, made, clear, net...         -1
27478  [yay, good, enjoy, break, probably, need, hect...          1
27479                                            [worth]          1
27480          [flirting, going, atg, smiles, yay, hugs]          0

[27481 rows x 2 columns]

In [12]:
X = df['text']
y = df['sentiment']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y)